#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo:hover {
  cursor: pointer;
  opacity: 70%;
}

.logo:active {
  transform: scale(98%);
}

.dark-theme {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.icon:active {
  transform: scale(98%);
}

.sort-active {
  text-decoration: underline;
  background-color: #b8b8b8;
}