#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo:hover {
  cursor: pointer;
  opacity: 70%;
}

.logo:active {
  transform: scale(98%);
}